In [2]:
import pandas as pd
import numpy as np
import time
import re

In [3]:
mb = pd.read_csv('part_mainboard230920.csv')

In [9]:
mbs = pd.DataFrame(mb['product_seq'])

In [7]:
mpci = pd.read_csv('mainboard_pci230919.csv')

In [12]:
mbs

      product_seq
0        20324882
1         7452181
2        16284179
3        16083650
4        18652871
...           ...
1335     13016483
1336      6732955
1337      6145461
1338      5991461
1339      4465818

[1340 rows x 1 columns]

In [29]:
mbs[mbs['product_seq'] == 7452181].index[0]

1

In [38]:
mid = []
for i in range(len(mpci)):
    mid.append(mbs[mbs['product_seq'] == mpci.loc[i, 'product_seq']].index[0]+1)
mpci['mainboard_id'] = mid

In [39]:
mpci

      product_seq pci_type  pci_number  mainboard_id
0        20324882  PCIex16           1             1
1        20324882   PCIex1           1             1
2         7452181  PCIex16           1             2
3         7452181   PCIex1           2             2
4        16284179  PCIex16           1             3
...           ...      ...         ...           ...
2567     13612418   PCIex1           2          1328
2568      6732955  PCIex16           3          1337
2569      6732955   PCIex1           2          1337
2570      6145461  PCIex16           1          1338
2571      6145461      PCI           2          1338

[2572 rows x 4 columns]

In [40]:
today = time.strftime('%y%m%d')
pd.DataFrame(mpci).to_csv(f'part_mainboard_pci{today}.csv', index=None)